<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <title>Home</title>
</head>
<body>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



   <container class="container-fluid">
              <div class="card">
                <h3>Host Address: <%= product.startdate %></h3>
                <h3>Price: <%= product.price %> CAD per Day</h3>
                <h3>Start from: <%= product.startdate %></h3>
                <h3>Leave on: <%= product.enddate %> </h3>
            <h3>Duration: <%= product.duration %></h3>
            <h3>Insurance: <%= product.insurance %></h3>
            <h3>GST: <%= product.GST %></h3>
            <h3>PST: <%= product.PST %></h3>
            <h3>Total Price After Tax: <%= product.totalaftax %></h3>

<form action="/product/payment" method="POST">
    <input type="hidden" id="finalprice" name="finalprice" value="<%= product.totalaftax*100 %>">          
    <script src="https://checkout.stripe.com/v2/checkout.js" data-amount="<%= product.totalaftax*100 %>" class="stripe-button" data-key="<%= key %>">

    </script>
    </form> 


                      <img class="card__thumb" src="/image.jpg" alt="" style="height:50; width:50px">

               
            </div>          
    </container>
</body>  