<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <title>Home</title>
</head>
<body>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



   <container class="container-fluid">
              <div class="card">
                <img src="<%= product.image %>" class="card__image" >
             
          
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    
                      
                        <h3 class="card__title">City: <%=product.city%></h3>            
                      <h3 class="card__title">Address: <%=product.address%></h3>
                      <br>
                      <h5 class="card__status">Price: <%=product.price%> CAD</h5>
                      

<form action="/ordercreate" method="post">
                      <select name="insurance" id="insurance">
                        <option value=0>No Insurance</option>
                        <option value=20>Full Cover Insurance (20 CAD)</option>
                      </select>
                      <br>
                      <label for="startdate">Start Date: </label>
                      <input type="Date" id="startdate" name="startdate">
                      
                      <br>
                      <label for="enddate">End Date: </label>
                      <input type="Date" id="enddate" name="enddate">
                      <input type="hidden" id="name" name="name" value="<%=product.name%>">
                      <input type="hidden" id="address" name="address" value="<%=product.address%>">
                      <input type="hidden" id="price" name="price" value="<%=product.price%>">
                      <input type="hidden" id="user" name="user" value="<%=user._id%>">
                      
                    
                      <br>
<button>To pay</button>

</form>


                      <img class="card__thumb" src="/image.jpg" alt="" style="height:50; width:50px">
                  <p class="card__description">Feedbacks from other Customers: </p>
               
            </div>          
    </container>
</body>  