<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <title>Home</title>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
    
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        
                        <a href="#" class="navbar-brand" style:color:"white">Lovely Pet</a>
                    </div>
    
                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Company History</a></li>
                                    <li><a href="#">Employee</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">Become Host</a></li>
                                    <li><a href="#">Pet Insurance</a></li>
                                    <li><a href="#">More</a></li>
                                </ul>
                            </li>
                            <li><a href="create">Host</a></li>
                            <li><a href="/application">Services</a></li>
                            <li><a href="/secured">Secured</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" onkeyup="myFunction()"name="search" id="myinput" placeholder="Search Anything Here..." class="form-control">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
    
                        <ul class="nav navbar-nav navbar-right">
                            <% if(!isAuthenticated) { %>
                                <li><a href="/login">Login</a></li>
                               
                            <% } else { %>
                                <li><a href="/logout">Logout</a></li>
                        
                            <% } %>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



   <container class="container-fluid">
              <div class="card">
                <img src="<%= product.image %>" class="card__image" >
             
          
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    
                      
                        <h3 class="card__title">City: <%=product.city%></h3>            
                      <h3 class="card__title">Address: <%=product.address%></h3>
                      <br>
                      <h5 class="card__status">Price: <%=product.price%> CAD</h5>
                      <select name="insurance" id="insurance">
                        <option value=0>No Insurance</option>
                        <option value=20>Full Cover Insurance (20 CAD)</option>
                      </select>
                      <br>
                      <label for="startdate">Start Date: </label>
                      <input type="date" id="startdate" name="startdate">
                      
                      <br>
                      <label for="enddate">End Date: </label>
                      <input type="date" id="enddate" name="enddate">
                      <br>
                      <button id="submit">Calculate Duration</button>
                         <div id="output">Select the dates to get started</div>
                      <label for="duration">Duration: </label> <p id="d1"> </p>
                      
                      <script>
                      let date1 = startdate;
                        let submit = document.getElementById("submit");
let output = document.getElementById("output");
submit.addEventListener("click", () => {
  //Create a Date object from input value
  var date1 = new Date(document.getElementById("startdate").value);
  var date2 = new Date(document.getElementById("enddate").value);
  var insurance1 = new Number(document.getElementById("insurance").value);
  if (date1.getTime() && date2.getTime()) {
    var timeDifference = date2.getTime() - date1.getTime();
    var dayDifference = Math.abs(timeDifference / (1000 * 3600 * 24));
    var p1 = (<%=product.price%> * dayDifference)+ insurance1;
    var p2 = p1*1.12;
    var p3 = p2.toFixed(2) ;
    output.innerHTML = `Duration: <span>${dayDifference}</span> days, Total Price Before Tax: <span>${p1} CAD, Total Price After Tax: <span>${p3}</span> CAD`;
  }
  //Else display that the input is valid
  else {
    output.innerHTML = "Please select a valid date";
  }
});
</script> 









<!-- Payment's logic need to be upated -->
                      <form action="/product/payment" method="POST">
                        
                        <script src="https://checkout.stripe.com/v2/checkout.js" data-amount="<%= order.totalaftax%>" class="stripe-button" data-key="<%= key %>">

                        </script>
                        </form> 
                      <img class="card__thumb" src="/image.jpg" alt="" style="height:50; width:50px">
                  <p class="card__description">Feedbacks from other Customers: </p>
               
            </div>          
    </container>
</body>  